.App {
  font-family: sans-serif;
  text-align: center;
}

.button {
  border: 1px solid #eee;
  margin: 2rem 0;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 0.5rem;
}
